<div *ngIf="childSelectedStory">
  <h2>{{childSelectedStory.title}}</h2>
  <h4>{{childSelectedStory.author}}, {{childSelectedStory.date}}, {{childSelectedStory.rating}} stars</h4>
  <p>{{childSelectedStory.article}}</p>
  <div>
    <h2>Comments</h2>
    <label>add comment:</label>
    <input #newComment>
  </div>
  <div>
    <label>rate article:</label>
    <select #newRating>
      <option [value]="1"> 1 star </option>
      <option [value]="2"> 2 stars </option>
      <option [value]="3"> 3 stars </option>
      <option [value]="1"> 4 stars </option>
      <option [value]="2"> 5 stars </option>
    </select>
    <button (click)="submitForm(newComment.value, newRating.value)">add</button>
  </div>
</div>
