<img src="{{(storyToDisplay | async)?.imageUrl}}">
<h5><a routerLink="">HOME</a></h5>
<h1>{{(storyToDisplay | async)?.title}}</h1>
<h5>{{(storyToDisplay | async)?.author}} // {{(storyToDisplay | async)?.date}}</h5>
<h5>Rating: {{(storyToDisplay | async)?.rating}} stars</h5>
<p>{{(storyToDisplay | async)?.article}}</p>

<div>
   <h2>Comments</h2>
   <label>add comment:</label>
   <input #newUserComment>
 </div>
 <div>
   <label>rate article:</label>
   <select #newUserRating>
     <option [value]="1"> 1 star </option>
     <option [value]="2"> 2 stars </option>
     <option [value]="3"> 3 stars </option>
     <option [value]="4"> 4 stars </option>
     <option [value]="5"> 5 stars </option>
   </select>
 </div>
