button{
  border: none;
  background-color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
  color: gray;
}

.row {
  display: inline-block;
  margin: 10px;
}
