img:hover {
  cursor: pointer;
}

button{
  border: none;
  color: gray;
  background-color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
  color: black;
}

h5 {
  color: gray;
}

.highlights img {
  width: 560px;
  margin: 0 auto;
}

.highlights h3 {
  text-transform: uppercase;
  font-family: impact;
  position: absolute;
  bottom: 68px;
  background: rgba(0,0,0,0.5);
  color: #f1f1f1;
  width: 560px;
  padding: 20px;
}

.row {
  position: relative;
  display: inline-block;
  margin: 3px;
}
