<div style="text-align:center">
  <img src="assets/rei-logo.png" alt="rei logo">
  <h4><a routerLink="">Home Page</a></h4>
</div>
<div class="container">
  <div class="nav">
    <ul>
      <li>camp</li>
      <li>hike</li>
      <li>climb</li>
      <li>cycle</li>
      <li>paddle</li>
      <li>run</li>
      <li>snow</li>
      <li>travel</li>
      <li>stewardship</li>
      <li>films</li>
      <li><a routerLink="admin">STAFF</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
