<div style="text-align:center" class ="logo">
  <img src="assets/rei-logo.png" alt="rei logo">
</div>
<div class="container">
  <div class="nav">
    <ul>
      <li><a routerLink="">camp</a></li>
      <li><a routerLink="">hike</a></li>
      <li><a routerLink="">climb</a></li>
      <li><a routerLink="">cycle</a></li>
      <li><a routerLink="">paddle</a></li>
      <li><a routerLink="">run</a></li>
      <li><a routerLink="">snow</a></li>
      <li><a routerLink="">travel</a></li>
      <li><a routerLink="">stewardship</a></li>
      <li><a routerLink="">films</a></li>
      <li><a routerLink="admin">STAFF</a></li>
    </ul>
  </div>
  <hr>
  <router-outlet></router-outlet>
</div>
