<div class="form">
  <div>
    <h3>Create New Story</h3>
    <label>Title:</label>
    <br>
    <input #newTitle>
  </div>
  <div>
    <label>Author:</label>
    <br>
    <input #newAuthor>
  </div>
  <div>
    <label>Date:</label>
    <br>
    <input #newDate>
  </div>
  <div>
    <label>Article:</label>
    <br>
    <textarea #newArticle></textarea>
  </div>
  <div>
    <label>Add Image:</label>
    <br>
    <input #newImageUrl>
  </div>
  <div>
    <label>Category:</label>
    <select #newCategory>
      <option [ngValue]="highlight">highlight</option>
      <option [ngValue]="gear">gear</option>
      <option [ngValue]="news">news</option>
      <option [ngValue]="skills">skills</option>
    </select>
  </div>
  <button (click)="submitForm(newTitle.value, newAuthor.value, newDate.value, newArticle.value, newCategory.value, newImageUrl.value); newTitle.value=''; newAuthor.value=''; newDate.value=''; newArticle.value=''; newImageUrl.value=''">submit</button>
</div>

<div class="border">
</div>

<div class="edit-story">
  <h3>Make Edits</h3>
  <app-news></app-news>
  <app-gear></app-gear>
  <app-skills></app-skills>
</div>
