img {
  width: 450px;
  height: auto;
}

ul {
  list-style-type: none;
}

h3 {
  text-transform: uppercase;
}

.border {
  margin: -10px 0 0 0;
  background-color: black;
  height: 4px;
}

@media screen and (max-width: 600px){
  img {
    width: 350px;
    height: auto;
  }
}
